body {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
  margin: 0;
  background: var(--color6);
}

div {
  display: block;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: 'Red Rose';
  src: url('~@/assets/fonts/RedRose-Regular.ttf');
}

@font-face {
  font-family: 'PT Serif';
  src: url('~@/assets/fonts/PTSerif-Regular.ttf');
}


@font-face {
  font-family: 'Quattrocento Sans';
  src: url('~@/assets/fonts/QuattrocentoSans-Regular.ttf');
}

@mixin position-center {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
